<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Page</title>  <!-- Page title displayed in the browser tab -->
</head>
<body>
<h1>You have no access!</h1>  <!-- Main heading indicating access denial -->
<p>You don't have the right permissions to view this page.</p>  <!-- Explanation of access restriction -->
<a href="/">Home</a>  <!-- Link to navigate back to the homepage -->
| <a href="/logout">Logout</a>  <!-- Link to log out of the current session -->
</body>
</html>
